@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(30, 37, 53);
}

body{
    background-color: #EAF3FB;
    font-family: "Saira Stencil", sans-serif;
    font-weight: 500;
}

header{
    background-color: #4A90E2;
    text-align: center;
    padding: 2rem;

}

main{
    padding: 2rem;
    background-color: #c4d4e1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

section{
 background-color: #3b6585;
 padding: 30px;
 border: 3px solid #170c0c;
 border-radius: 1rem;
 width: 30rem;
 box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

input {
    width: 100%;
    padding: 0.6rem;
    margin: 0.4rem;
    border-radius: 8px;
    border: 2px solid #170c0c;
    outline: none;
    transition: 0.3s;
    background-color:rgb(189, 225, 234);
}

label{
    padding: 0.6rem;
    outline: none;
    transition: 0.3s;
    margin-top: 5rem;
    font-size:larger;
}

h2{
    text-align: center;
    padding: 1rem;
    color: #170c0c;
}

button {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background-color:#80abe4;
    color: white;
    border: black;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    font-family: "Saira Stencil", sans-serif;
}

button:hover {
    background-color: #5b819e;
}
 
table{
    width: 100%;
    border-collapse: collapse;
    border: transparent;   
}

th{
    padding: 0.5rem;
    text-align: center;
    background-color: rgb(31, 69, 103);
    border-radius: 5px;
    
}
tbody td{
    padding: 0.5rem;
    text-align: center;
    background-color: rgb(43, 74, 101);
    border-radius: 1px;
   
}

tfoot td{
    padding: 0.5rem;
    text-align: center;
    background-color: rgb(43, 74, 101);
    border-radius: 5px;
}

footer{
    background-color: #4A90E2;
    text-align: center;
    padding: 2rem;
    transition: 0.3s;
}

footer h2{
    text-align: center;
    padding: 2rem;
    

}

footer.erro {
    background-color: #e74c3c;
    color: rgb(236, 228, 228);
    padding: 2rem;
    
}

footer.erro * {
    color: white;
}



